$dark: hsl(240, 100%, 5%);
$muted: hsl(236, 13%, 42%);
$warning: hsl(35, 77%, 62%);
$secondary: hsl(233, 8%, 79%);
$danger: hsl(5, 85%, 63%);
$white: hsl(36, 100%, 99%);
$font-family: "Inter", sans-serif;
$font-size: 15px;
$mobile: 375px;
$desktop: 768px;